body > .grid {
  height: 100%;
}

.ui.form .grouped.fields > label,
.ui.form .field > label {
  font-size: 1rem;
}

.hide {
  display: none !important;
}

.full-width {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .sound-test-slider-label {
    font-size: 1rem;
  }
}

.wrap-text-overflow {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.noise-tolerance-row {
  align-items: center !important;
  display: flex;
  padding-top: 0 !important;
}

.small-text {
  font-size: 0.8rem;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}
