body > .grid {
  height: 100%;
}

.ui.form .grouped.fields > label,
.ui.form .field > label {
  font-size: 1rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.full-width {
  width: 100%;
}
